@import "text.css";

@import "components/menu.css";
@import "components/message.css";
@import "components/cart.css";

.body {
    margin-top: 90px;
}


.image-medium {
    height: 160px;
    max-height: 160px;
}
